# PostgreSQL
DB_HOST=caboose.proxy.rlwy.net
DB_PORT=50084
DB_USERNAME=postgres
DB_PASSWORD=AtubJXGofjbxXOktxxmfwhEuSiFJOANF
DB_DATABASE=railway

# ImageKit (https://imagekit.io) — faqat private key kerak
IMAGEKIT_PRIVATE_KEY=private_TSz93gxCDXt8uvllKTuxKwJL7a4=

# Server
PORT=3001
